.navigationLink {
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 138px;
    height: 24px;
    padding: 16px 20px;
    margin: 0;
    gap: 8px;
    cursor: pointer;
    color: #8585ad;
}
