.ingridient {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 272px;
    height: 208px;
    margin-bottom: 32px;
    position: relative;
}

.ingridient:last-of-type {
    margin-bottom: 0;
}

.ingridient:nth-last-of-type(2) {
    margin-bottom: 0;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.name {
    text-align: center;
}