.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  gap: 44px;
  color: red;
}

.block {
  display: block;
  width: 600px;
  height: 800px;
  background-color: grey;
}

