.ingridient {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 8px;
    width: 272px;
    height: 208px;
    background-color: darkslategray;
    margin-bottom: 32px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}